body {
    color: #fff;
    background-color: #000;
    font-family: Vendana, Arial, Helvetica, sans-serif;
}

th {
    background-color: #061554;
    border-bottom: 2px solid #0a4896;
}

tr:nth-child(even) {
    background-color: #202020;
}

/* flash */
.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: .6; }
}

.dashboard {
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 50px 860px  80px;
    grid-template-areas:
    "header header"
    "sidebar main-content"
    "footer footer";
}

.header {
    font-family: Vendana, Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    grid-area: header;
    background-color: #010101;
    padding: 0px;
    font-size: 20px;
    text-align: top;
    margin: 0
}

.sidebar {
    grid-area: sidebar;
    background-color: #030303;
    color: white;
    padding: 5px;
    font-size: 12px;

}

.main-content {
    grid-area: main-content;
    background-color: #000;
    padding: 20px;
}

.footer {
    grid-area: footer;
    font-color: #C0C0C0;
    background-color: #383838;
    padding: 10px;
    max-width: 100%;
    overflow: hidden;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;

}


/* ticker*/

.wrapper {
    max-width: 100%;
    overflow: hidden;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 195s linear infinite;
    scroll-behavior: smooth;
    scroll-amount: 4;
}

.marquee p {
    display: inline-block;
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-50%, 0, 0);
    }
}